@(tweets: Seq[Models.Tables.MessagesRow], following: Seq[String], followers:Seq[String])(implicit request: MessagesRequestHeader, flash: Flash)

<html>
<body>
<h1>Hello, Welcome to your profile</h1>
<h3>Following</h3>
@for(people <- following){
<p>@people</p>
}

<h3>Followers</h3>
@for(people <- followers){
<p>@people</p>
}

<ul>
    @for(message <- tweets) {
    <li>
        <p>Message: <span id="message-@message.messageId">@message.text</span></p>
        <form method="post" action="@routes.tweet.editTweet">
            @helper.CSRF.formField
            <input type="hidden" name="editTweetId" value="@message.messageId">
            <input type="text" name="editTweetText" value="@message.text" style="display:none;">
            <button type="button" onclick="toggleEditField(@message.messageId)">Edit</button>
            <button type="submit" style="display:none;">Save</button>
        </form>
        <form method="post" action="@routes.tweet.deleteTweet">
            @helper.CSRF.formField
            <input type="hidden" name="deleteTweet" value="@message.text">
            <button type="submit">Delete</button>
        </form>
    </li>
    }

    <script>
        function toggleEditField(messageId) {
            var messageTextElement = document.getElementById('message-' + messageId);
            var inputField = document.querySelector('input[name="editTweetText"]');
            var saveButton = document.querySelector('button[type="submit"]');
            var cancelButton = document.querySelector('button[type="button"]');
            var currentMessageText = messageTextElement.textContent;

            if (inputField.style.display === "none") {
                inputField.value = currentMessageText;
                inputField.style.display = "inline-block";
                saveButton.style.display = "inline-block";
                cancelButton.textContent = "Cancel";
                messageTextElement.style.display = "none";
            } else {
                inputField.style.display = "none";
                saveButton.style.display = "none";
                cancelButton.textContent = "Edit";
                messageTextElement.style.display = "inline";
            }
        }
    </script>
</ul>


<div>
    <a href="@routes.tweet.logout" id="logout">Logout</a>
</div>

<div>
    <a href="@routes.tweet.home" id="home">Home</a>
</div>
</body>
</html>
