@(tweets: Seq[Models.Tables.MessagesRow], followers: Seq[String])(implicit request: MessagesRequestHeader, flash: Flash)

<html>
<body>
<h1>Hello, Welcome to your profile</h1>
<h3>Followers</h3>
    @for(people <- followers){
        <p>Followers: @people</p>
    }

<ul>
    @for(message <- tweets) {
    <li>
        <p>Message: @message.text</p>
        <form method="post" action="@routes.tweet.deleteTweet">
            @helper.CSRF.formField
            <input type="hidden" name="deleteTweet" value="@message.messageId">
            <button type="submit">Delete</button>
        </form>
    </li>
    }
</ul>
<div>
    <a href="@routes.tweet.logout" id="logout">Logout</a>
</div>

<div>
    <a href="@routes.tweet.home" id="home">Home</a>
</div>
</body>
</html>
