@(tweets: Seq[Models.Tables.MessagesRow], following: Seq[String], user:String, exists:Boolean, followExist:Boolean)(implicit request: MessagesRequestHeader, flash: Flash)

<html>
<body>
<h1>Profile Search</h1>
@if(exists == false) {
    <p>User not found</p>
} else {
<div id="user_name">
    <h2>@user</h2>
</div>

@if(followExist == false) {
<div id ="follow">
    <a href="@routes.tweet.follow">Follow</a>
</div>
}

<div id="following">
    <h3>Following</h3>
    @for(people <- following){
    <p>@people</p>
    }
</div>

<ul>
    @for(message <- tweets) {
    <li>
        <p>Message: @message.text</p>
    </li>
    }
</ul>
}
<div>
    <a href="@routes.tweet.logout" id="logout">Logout</a>
</div>

<div>
    <a href="@routes.tweet.home" id="home">Home</a>
</div>
</body>
</html>

